<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Food Truck Login</title>
    <!--Bootstrap-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>


    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        ceci est un test
                    </div>
		</div>
	</div>
    
	<!--Bootstrap-->
	<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="static/js/login.js"></script>
</body>
</html>